#   ____   _____ __  __ ___  _____   ____
#  / __ \ / ____|  \/  |__ \|  __ \ / __ \
# | |  | | (___ | \  / |  ) | |__) | |  | |
# | |  | |\___ \| |\/| | / /|  ___/| |  | |
# | |__| |____) | |  | |/ /_| |    | |__| |
#  \____/|_____/|_|  |_|____|_|     \____/  DEFAULT CONFIGURATION
#

######################################################################
#
# CONVERTER
#
######################################################################

# tileSize is the most important parameter for the first conversion
# step. It controls the balance between available memory and
# data size. The rule is simple: The more memory and the larger a tile
# the better. tileSize accepts two sub-values, separated by kommas.
# The pattern is: [<Y>x<X>|x][,<buffer>]
# It defaults to tileSize=10x10,1 (in degrees) where Y,X are Integers and
# buffer a Float. This is a pessimistic value and should be increased
# for larger countries. It is possible to set 7x9 e.g. but divisors of
# 90 and 180 are recommended. The buffer is needed for ways that cross tiles.
# If a way is too long and the buffer too small, it cannot be resolved and will
# be dropped. Setting tileSize=x disables tiling, which is optimal but directly
# dependent on the memory given by the -Xmx Java-Parameter.
# For most countries I recommend tileSize=x with -Xmx1g.
# Since Version 5.0.2 the additional sub-value 'c' is not supported anymore
# and is set by default.

#tileSize = 10x10,1

# A too small tileSize (size and/or buffer) ignores ways which are
# tagged as one long section. In order to catch these, either increase
# the tileSize values (recommended) or use the following option (slow).
# Tip: Read the Log while and/or after conversion,
# osm2po will report a warn message in such a case. 

#rescueOrphanedWays = true

# osm2po's Joiner/TileManager must be able to cache lots of
# tiles (nodes). Therefore it has to estimate the remaining ram.
# If osm2po runs into OutOfMemoryErrors here, which mostly happens
# under 64 Bit Java, increase osm2po's own reservedXmx parameter (in Mb).

#reservedXmx = 512

# Skip regions with too few nodes (faster but less accurate). Default is 0.

#tileThreshold = 100

# If tiling is enabled, caching as many tiles as possible per pass 
# is the fastest strategy. In some cases, mostly if these tiles contain hardly
# any nodes, this optimization may cause the opposite effect.

#maxTilesPerLoop = 100

# Very useful but slow postprocess of the segmenter which renumbers
# vertexIDs by their location.
  
#useQuadTileOrder = true

# In the first conversion step osm2po usually writes nodes to a temp file,
# collects NodeIds referenced by ways and relations and filters them as
# early as possible. Ways will also be pre-filtered here.
# This is memory friendly and fast but in few cases, mostly if special
# relations come into play, not wanted.

#disablePreFilter = true

# In order to ignore or modify ways programmatically the joinFilter is your
# first hook into the Java-API. It acts like a deferred antagonist of the
# disablePreFilter parameter.

#joinFilter.class = de.cm.osm2po.converter.DefaultJoinFilter

# The DefaultJoinFilter drops invalid ways (see finalMask) but bypasses
# validation if a way is referenced by a relevant relation.
# In some rare cases, it might be necessary to enrich the speed if a
# way has not been declared above. It defaults to 1 kmh.

#joinFilter.defaultSpeed = 50

# The DefaultJoinFilter also supports clipping of regions.
# Two LatLon-Pairs denote a rectangle, more than two an outer polygon.
# Multiple clippings can be separated by semicolons.
 
#joinFilter.boundings = 53.5,10.0,53.6,10.1,53.5,10.1,53.5,10.0

# If you need LonLat- instead of LatLon-Order set

#joinFilter.boundings.longitudeFirst = true

# If your coordinates are in a file, set sth. like this

#myPoly = [path/to/poly.sth]
#joinFilter.boundings = [myPoly]; [anotherPoly]; ...; 53.5,10.0...

# The file may contain simple latLon-Pairs, or poly.file syntax.
# For the latter you'll have to set longitudeFirst=true.

######################################################################
#
# WAY TAG RESOLVER
#
######################################################################

# A WayTagResolver transforms OSM-tags into a simple and flat representation
# containing name, speed, usage, ..., etc.
# Some attributes are hard-coded, the name e.g., others are configurable:
# The clazz (byte 1-127) denotes the anchor/main-type. The second one are the
# flags (Integer32). Each parsed tag can indicate its existence in one Bit.
# These bits must be declared in the flagList before.
# The third attribute is meta, which can only be set programmatically.
# If you need a special behavior, which is not covered by this default
# mechanism, feel free to implement your own WayTagResolver or extend the
# DefaultWayTagResolver.

#wayTagResolver.class = de.cm.osm2po.converter.DefaultWayTagResolver

# Using a prefix allows multiple configurations in one file

#wayTagResolver.prefix = wtr

# Up to 32 custom flags with ascending binary values 1, 2, 4, 8 ...

wtr.flagList = car, bike, foot, rail, ferry, poly

# only convert ways with one of these flags

wtr.finalMask = car
#wtr.finalMask = car|bike
#wtr.finalMask = bike|foot&goodgrade (since v5.0.20) 

# In some rare cases it can be useful to prevent Ways from being
# processed by the segmenter and to exclude them from the road network.  
# Converting streets and polygons in one pass is such a case, but this
# should be avoided. Declare the corresponding indicator flag here.

wtr.polyMask = poly

# very special hint for level_crossing modification

wtr.shuttleTrainMask = rail|car

# osm2po needs to know the anchor-tag and some default values if not tagged.
# To prevent ambiguities configure a well chosen priority.
# Main-Tag definitions. Params 1-4:
# 1) priority
# 2) clazz identifier (1-127)
# 3) default speed in kmh
# 4) allowed transportation type (optional)

wtr.tag.highway.motorway =       1,  11, 120, car
wtr.tag.highway.motorway_link =  1,  12, 30,  car
wtr.tag.highway.trunk =          1,  13, 90,  car
wtr.tag.highway.trunk_link =     1,  14, 30,  car
wtr.tag.highway.primary =        1,  15, 70,  car
wtr.tag.highway.primary_link =   1,  16, 30,  car
wtr.tag.highway.secondary =      1,  21, 60,  car
wtr.tag.highway.secondary_link = 1,  22, 30,  car
wtr.tag.highway.tertiary =       1,  31, 40,  car|bike
wtr.tag.highway.tertiary_link =  1,  32, 20,  car|bike
wtr.tag.highway.residential =    1,  41, 40,  car|bike
wtr.tag.highway.road =           1,  42, 50,  car|bike
wtr.tag.highway.unclassified =   1,  43, 50,  car|bike

wtr.tag.highway.service =        1,  51, 5,   car|bike
wtr.tag.highway.living_street =  1,  63, 7,   car|bike|foot   
wtr.tag.highway.pedestrian =     1,  62, 5,   bike|foot
wtr.tag.highway.track =          1,  71, 10,  bike|foot
wtr.tag.highway.path =           1,  72, 10,  bike|foot
wtr.tag.highway.cycleway =       1,  81, 15,  bike
#wtr.tag.highway.footway =        2,  91, 5,   foot
#wtr.tag.highway.steps =          2,  92, 5,   foot
#wtr.tag.route.ferry =            2,   1, 10,  ferry
#wtr.tag.route.shuttle_train =    2,   2, 50,  rail|car
#wtr.tag.railway.rail =           3,   3, 50,  rail

# Other tags may also overwrite the default transportation type definition.
# Tags without explicit values like wtr.deny.motorcar act like
# an else-part and will be used if no other tag=value matches.
# You can also substitute keys. e.g.
# 'wtr.deny.motor[_vehicle|car]' will be replaced by
# 'wtr.deny.motor_vehicle' and 'wtr.deny.motorcar'.
# Nested expressions like ..[...[...]].. are not supported.

wtr.allow.motor[car|_vehicle].[yes|destination] = car
wtr.allow.[bicycle|cycleway] = bike
wtr.allow.[footway|sidewalk] = foot

wtr.deny.tracktype.grade[4|5] = car|bike
wtr.deny.access.no = car|bike|foot|rail|ferry
wtr.deny.vehicle.no = car|bike
wtr.deny.motor[_vehicle|car] = car
wtr.deny.bicycle.no = bike
wtr.deny.foot.no = foot
wtr.deny.footway.none = foot

# Allow one or more osm-tags to override the default speeds above.
# The priority increases from left to right. Meaning, if more than one tag
# exists, the last one wins. In order to disable this behavior,
# remove the following line or add a leading #. 

wtr.maxSpeedTags = maxspeed
#wtr.maxSpeedTags = maxspeed, maxspeed:hgv

# Since Version 5.0.20 patterns are supported.
# Nevertheless, prefer the syntax above, cause patterns are slow.
# Important: Patterns litarally check key and value and expect
# a normal slash "/" as separator (key/value).  

#wtr.allow.@carpattern = car
#carpattern = motor.*
#wtr.deny.@nofootpattern = foot
#nofootpattern = foot.*/no.*

######################################################################
#
# RELATION TAG RESOLVER
#
######################################################################

#relationTagResolver.class = de.cm.osm2po.converter.DefaultRelationTagResolver

#relationTagResolver.prefix = rtr

# The DefaultRelationTagResolver can take some Relation types into account. 
# By default it only accepts Restrictions.

#rtr.supportRestrictions = false
#rtr.supportBoundaries = true
#rtr.supportPolygons = true
#rtr.supportedRouteClazzes = bus, bicycle

######################################################################
#
# NODE TAG RESOLVER
#
######################################################################

#nodeTagResolver.class = de.cm.osm2po.converter.DefaultNodeTagResolver

######################################################################
#
# LOGGER
#
######################################################################

# This is the LogLevel for global (log.level) and console (log.console.level)
# and file logging. Possible values are
# debug, progress, warn, info (default), error and fatal.

log.level = debug
log.file.level = debug
log.console.level = progress
#log.console.writer.class = de.cm.osm2po.logging.Log2poConsoleWriter
#log.console.writer.class = de.cm.osm2po.logging.LogJclWriter

# Redirecting of StandardOut (console).
# Possible values are out (default), err or null (quiet).

#log.console.to = err

######################################################################
#
# POSTPROCESSORS
#
######################################################################

#postp.0.class = de.cm.osm2po.plugins.postp.PgRoutingWriter
#postp.0.writeMultiLineStrings = true
#postp.1.class = de.cm.osm2po.plugins.postp.PgVertexWriter
#postp.2.class = de.cm.osm2po.plugins.postp.PgPolyWayWriter
#postp.3.class = de.cm.osm2po.plugins.postp.PgPolyRelWriter

#postp.4.class = de.cm.osm2po.postp.GeoExtensionBuilder
#postp.5.class = de.cm.osm2po.postp.MlgExtensionBuilder
#postp.5.id = 0
#postp.5.maxLevel = 3, 1.0

#postp.6.class = de.cm.osm2po.sd.postp.SdGraphBuilder

# Pg*Writer usually create sql files. Enable the following
# parameter to redirect them to stdout (console)

#postp.pipeOut = true
 
# Tip 1:
# If you want this program to be one link in a transformation chain
# e.g. curl | bzcat | osm2po | psql
# you must set both, log.console.to=err and postp.pipeOut=true.
# It is recommended to run curl, bzcat and psql in silent/quiet mode. 
# Example (one line):
# curl -s -L http://download.geofabrik.de/europe/germany/hamburg-latest.osm.bz2 |
# bzcat -c | java -jar osm2po-core.jar prefix=hh postp.pipeOut=true log.console.to=err |
# psql -q -U myuser -s -d mydb

# Tip 2:
# For the SdGraphBuilder it is highly recommended to convert
# with useQuadTileOrder=true and activated MlgExtensionBuilder in the
# prior conversion steps.

######################################################################
#
# OSM2PO-Routing
#
######################################################################

# This pluggable class translates other properties like kmh or flags
# and allows to mix in external data programmatically.

#graph.build.interceptor.class = de.cm.osm2po.converter.DefaultGraphBuildInterceptor

# osm2po doubles segments to handle forward and reverse directions.
# Reverse edges derived from one-way-segments will be written by default.
# This is useful for bike routing but not for car routing and blows up your graph.
# In order to exclude them use the following parameter

#graph.build.excludeWrongWays = true

# Create a search index for street names, only useful
# for GeoCoding, hence disabled by default.

#graph.build.searchIndex = false

# Runtime parameters for the osm2po-Graph:
# In order to speed up geometry lookups you may want to set
# graph.support.segments=true. This disables HardDisk-Lookups but needs
# much more RAM (Xmx). Setting graph.support.edgeflags=true is useful
# for Soap/GeoJson-Requests. If not set, you will not receive street type infos.
# Setting graph.support.reverse=true creates an additional Reverse-Graph.
# graph.support.raster[.e|.v] is another RAM-consuming addition, which creates
# a rastered index for vertices (v) or edges (e) or if '.e' and '.v'
# are missing, for both. 

#graph.support.segments = true
#graph.support.edgeflags = true
#graph.support.reverse = true
#graph.support.raster = true
#graph.support.raster.e = true
#graph.support.raster.v = true
#graph.support.barriers = true
#graph.support.extensions = true

# Here are osm2po's modified Dijkstra/AStar algorithms.
# OvlRouters are not restricted to vertices (crossings) and can handle
# virtual locations at runtime.
# EdgeRouters traverse each street twice and return more accurate results
# with regards to the turn-restriction. 
# MlgRouters are fast but need preprocessed data by the MlgExtensionBuilder,
# otherwise they will fall back to default behavior.
# In order to take the latter into account at runtime you must
# set graph.support.extensions = true (see above)
# The MlgExtensionBuilder defines IDs for different use cases, as there are:
# ID  0  : Default Car-Routing with TurnRestrictions.
# ID +1  : For Shortest Path (not recommended)
# ID +2  : Ignore OneWay-Restrictions
# ID +4  : Ignore Turn-Restrictions

#router.0.class=de.cm.osm2po.routing.DefaultRouter
#router.1.class=de.cm.osm2po.routing.DefaultBidiRouter
#router.2.class=de.cm.osm2po.routing.EdgeRouter
#router.3.class=de.cm.osm2po.routing.PoiRouter
#router.4.class=de.cm.osm2po.routing.OvlRouter
#router.5.class=de.cm.osm2po.routing.OvlEdgeRouter
#router.6.class=de.cm.osm2po.routing.OvlPoiRouter
#router.7.class=de.cm.osm2po.routing.MlgRouter
#router.8.class=de.cm.osm2po.routing.MlgRevRouter
#router.9.class=de.cm.osm2po.routing.MlgBidiRouter
#router.10.class=de.cm.osm2po.routing.MlgOvlEdgeRouter
#router.11.class=de.cm.osm2po.routing.MinimalRouter
#router.12.class=de.cm.osm2po.routing.FuzzyRouter

######################################################################
#
# OSM2PO-TinyWebServer (HTTP-GET/SOAP)
#
######################################################################

service.domain = h2242690-osm2po-container
service.port = 8080
service.log.file.level = warn
